body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
}

#photo-container {
    width: 30%;
    margin: 20px auto;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    box-shadow: 0 0 10px rgba(0,0,0, 0.1);
}

#user-info {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    background-size: cover;
    display: flex;
    justify-content:space-around;
}

.names {
    display:flex;
}
#username {
    font-weight: bold;
}

#location {
    font-weight: lighter;
}

#photo {
    width: 100%;
    max-height: 500px;
    background-size: cover;
}

#caption {
    padding: 10px;
}

.icons {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    padding: 10px;
}

img {
    width: 100%;
}